<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">About</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quae totam cupiditate exercitationem maiores perferendis eum optio ipsa nihil accusamus commodi, sit quod dolores. Impedit eaque eveniet deleniti dolores sapiente!
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contact</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com </li>
                <li><i class="fa-solid fa-phone"> (00) 0000-0000 </i></li>
                <li><i class="fa-brands fa-whatsapp"> (99) 99999-9999 </i></li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Jorge Mendonça
    </section>
</footer>
