<section class="product__container">
    <div class="product-image__container">
        <img [src]="product?.image" alt="">
    </div>
    <div class="product-description__container">
        <h2 class="product__name"> {{product?.description}} </h2>
        <h3 class="product__price"> {{product?.price | currency : "BRL"}} </h3>
        <p>available</p>
        <label>
            Quantity:
            <input type="number" [(ngModel)]="quantity" min="1">
        </label>
        <p class="product__availability">
            {{product?.stockQuantity}} units available
        </p>
        <button (click)="addToCart()">add to cart</button>
    </div>
</section>
